@import '../../index.css'

a {
    color: wheat;
}

h1 {
    font-family: Bruntsfield, serif;
    font-size: 130px;
    color: beige;
    text-align: center;
    line-height: 110px;
    text-shadow: 4px 4px 10px #1C2A24;
} 

.background-image {
    background-size: cover;   
}

.logo {
    width: 800px;
    height: 350px;
    margin-top: 0px;
    display: flex;
    align-content: center;
    justify-content: center;  
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.center-content {
    width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: baseline;
}
.tagline {
    font-family: Domine, sans-serif;
    font-size: 33.5px;
    color: beige;
    text-shadow: 2px 3px 3px #1C2A24;
}

.description {
    text-align: center;
    font-size: 23px;
    font-family: Cormorant, serif;
    color: antiquewhite;
    text-shadow: 1px 1px 0px #1C2A24;
}

.options {
    
    width: 800px;
    font-family: Bruntsfield, sans-serif;
    color: beige;
    font-size: 80px;
    padding-top: 30px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    filter: drop-shadow(3px 3px 3px #1C2A24);
}

.exercise-container {

    padding: 0px 0px 0px 0px;
    display: grid;
    grid-template-columns: max-content;
    justify-items: center;
}

.wreath {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-size: cover;
}

.w1 {
    background-image: url(./level1.png);
}

.w2 {
    background-image: url(./level2.png);
}

.w3 {
    background-image: url(./level3.png);
}

.level-num {
    padding-top: 55px;
    color: wheat;
    text-shadow: 0px 2px 3px #1C2A24;
}


