.compiler-container {
  width: 95%;
  display: flex;
  padding: 20px;
  align-content: center;
}


  .heading {
    font-size: 20px;
  }
  #source {
    width: 100% !important;
    background: #cccccc52;
    height: 50vh;
    font-size: 15px;
    resize: vertical;
  }
  #input {
    background: #cccccc52;
  }

  #output {
    width: 595px !important;
    background: #759437;
    border: none;
    color: aliceblue;
    height: 150px;
    font-size: 15px;
    resize: vertical;
  }

.button-row {
  background: #cccccc52;
}