body {
  background-color: #344822;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Bruntsfield';
  src: local('Bruntsfield'), url(./fonts/bruntsfield.otf) format('opentype');
}

@font-face {
  font-family: 'Cormorant';
  src: local('Cormorant'), url(./fonts/cormorant-garamond-light.ttf) format('truetype');
}

@font-face {
  font-family: 'Domine';
  src: local('Domine'), url(./fonts/domine.ttf) format('truetype');
}